/* ----------- TÍTULO ----------- */
h1 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: var(--space-sm);
  line-height: 1.2;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  h1 { font-size: 3rem; }
}
@media (max-width: 480px) {
  h1 { font-size: 3rem; }
}

/* ----------- INPUTS ----------- */
input {
  padding: var(--space-lg);
  margin-top: var(--space-sm);
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-sm);
}


/* ----------- BOTÃO ----------- */
.botao-doar {
  width: 100%;
  max-width: 16rem;
  height: 4.5rem;
  font-size: 1.3rem;
  font-weight: 800;
}


/* ----------- CAMPOS ----------- */
.campo {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ----------- CAIXA CENTRAL ----------- */
.conteudo-central {
  max-width: 1200px;
  max-height: 500px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 2rem;
  height: 100vw;
}


/* ----------- FORM ----------- */
.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.countainer-botao-doar {
  width: 100%;
}

.container-submit-text {
  display: flex;
  justify-content: center;
}

/* ----------- GRID ----------- */
.grid-inputs {
  margin: 20px auto 0px auto;
  display: grid;
  width: 100%;
  max-width: 1200px; 
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* Quando a tela fica pequena vira 1 coluna */
@media (max-width: 768px) {
  .grid-inputs {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}


/* ----------- BOX ESCURA ----------- */
.grey-box {
  background-color: var(--color-text);
  border-radius: var(--radius-md);
  padding: 2rem;
  height: 100%;
}

/* ----------- TÍTULO CAIXA ----------- */
.titulo {
  margin: 120px auto 20px;
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  background-color: var(--color-bg);
}

/* No mobile o título fica menor */
@media (max-width: 768px) {
  .titulo { 
    margin: 60px auto 20px;
    margin-top: 20vh;
  }
  .grey-box{
    height: auto;
  }
  .conteudo-central{
    margin: 0px auto 0 auto ;
    height: auto;
    max-height: none;
  }
}
@media (max-width: 480px) {
  .titulo { 
    margin: 60px auto 20px;
    margin-top: 20vh;
  }
  .grey-box{
    height: auto;
  }
  .conteudo-central{
    margin: 0px auto 0px auto ;
    height: auto;
    max-height: none;
  }
}
