footer {
  background-color: var(--color-bg);
  width: 100%;
  margin: 0;
  padding: 20px 0;
}

/* Layout padrão (desktop) */
.main-footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 5vw;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Linha topo (logo + redes) */
.top-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Redes sociais */
.social-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: .5rem .8rem;
}

.social-icon {
  color: #00ff88;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  display: inline-flex;
}

.social-icon svg {
  width: 28px;
  height: 28px;
}

.social-icon:hover {
  color: #00cc66;
  transform: scale(1.1);
}

.full-width {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: 0;
  padding: 0;
}

.link-portfolio {
  color: var(--color-primary);
  text-decoration: none;
}


@media (max-width: 700px) {
  /* Remove qualquer largura estourando */
  body {
    overflow-x: hidden;
 ;
  }

  /* Footer cresce conforme conteúdo */
  footer {
    height: auto;
    padding: 25px 0;
  }

  .main-footer {
    padding: 0 1.2rem;
    gap: 1.8rem;
  }

  /* Logo e redes empilham */
  .top-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Ícones ficam maiores no toque */
  .social-icon svg {
    width: 32px;
    height: 32px;
  }

  /* Endereço, email e telefone ocupam linha fácil */
  .full-width li span {
    display: inline-block;
    margin-bottom: 3px;
  }

  /* Textos centralizados no final */
  .text-center {
    text-align: center;
  }
    /* Centraliza o grupo que possui wrap */
  .flex-wrap {
    justify-content: center !important;
    text-align: center;
  }

  /* A logo + texto no centro */
  .flex-row {
    justify-content: center;
  }

  /* Afastar os itens do topo */
  .main-footer > .flex-row {
    margin-bottom: 1rem;
  }

  /* O container principal também deve permitir centralização */
  .space-between {
    justify-content: center !important;
    gap: 1.5rem;
  }
}
