header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden !important;

  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;

  width: calc(100% - 180px);
  height: 80px;

  background-color: #000;
  border-radius: 36px;

  padding: 0 40px;
  box-shadow:
    inset 0 0 0 2px var(--color-primary),
    3px 3px 0 0 var(--color-primary);
  overflow: hidden;
  text-align: center;
  z-index: 1000;
}

/* linha inferior */
.texto-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #00ff88; /* cor da linha */
  transition: width 0.3s ease-in-out; /* suavidade */
}

/* efeito hover */
.texto-hover:hover::after {
  width: 100%;
}

.texto-hover {
  position: relative;
  display: inline-block;
  color: #00ff88; /* cor do texto */
  text-decoration: none;
  font-weight: 600;
}

/* ESCONDE MENUS DESKTOP NO MOBILE */
@media (max-width: 900px) {
  .menu-desktop {
    display: none;
    visibility: hidden;
  }

  .hamburguer {
    display: block !important;
    visibility: visible !important;
    font-size: 2.2rem;
    color: var(--color-primary);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3000;
  }

  header {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
}

/* MENU MOBILE LATERAL */
.menu-mobile {
  position: fixed;
  top: 0;
  right: -300px; /* começa fora da tela */
  width: 300px;
  height: 100vh;
  background-color: #000;
  padding: 30px;
  border-left: 3px solid var(--color-primary);
  box-shadow: -4px 0 10px rgba(0,0,0,0.4);
  transition: right 0.35s ease-in-out;
  z-index: 2000;
}

.menu-mobile ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.menu-mobile ul li {
  margin: 20px 0;
}

.menu-mobile ul li a {
  color: var(--color-primary);
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
}

.menu-mobile.open {
  right: 0; /* aparece deslizando */
}

/* BOTÃO FECHAR */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2.5rem;
  background: transparent;
  color: var(--color-primary);
  border: none;
  cursor: pointer;
}

.hamburguer {
  display: none;
  visibility: hidden;
}
