h1 {
  text-align: center;
  font-size: 8rem;
}

.titulo {
  margin: 120px auto 40px;
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: var(--space-md);
  margin-bottom: 80px;
}

.cards > .card {
  background-color: var(--color-bg);
  border-radius: var(--radius-lg);
  padding: var(--space-md);
  text-align: center;
}

.cards > .card > img {
  width: 100%;
  height: 480px; /* mantém o tamanho do card */
  object-fit: cover; /* mantém proporção e corta o excesso */
  border-radius: var(--radius-lg);
  margin-bottom: var(--space-sm);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: var(--space-sm);
  line-height: 1.2;
  height: calc(1.2em * 2.2); /* altura de duas linhas */
  text-align: center; /* centraliza o texto */
  display: flex;
  align-items: center; /* centraliza verticalmente dentro da altura */
  justify-content: center; /* garante centralização mesmo se for flex */
  text-align: center;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-primary);
  text-align: justify;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}