h1 {
  text-align: center;
  font-size: 8rem;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  h1 { font-size: 3rem; }
}
@media (max-width: 480px) {
  h1 { font-size: 3rem; }
}


/* ----------- TÍTULO CAIXA ----------- */
.titulo {
  margin: 120px auto 20px;
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  background-color: var(--color-bg);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  padding: var(--space-md);
  margin-bottom: 80px;
}

.cards > .card {
  background-color: var(--color-bg);
  border-radius: var(--radius-lg);
  padding: var(--space-md);
  text-align: center;
  z-index: 2;
}

.cards > .card > img {
  width: 100%;
  height: 480px;
  object-fit: cover; /* mantém proporção e corta o excesso */
  border-radius: var(--radius-lg);
  margin-bottom: var(--space-sm);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: var(--space-sm);
  line-height: 1.2;
  height: calc(1.2em * 2.2); 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main > p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-primary);
  text-align: justify;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.linha-de-fundo {
  position: absolute;
  top: 50%;
  left: 0;
  width: 120%;
  height: 440px;
  background: var(--color-primary);
  transform: rotate(5deg);
  transform-origin: left; /* IMPORTANTE para vir da esquerda */
  z-index: 1;
  opacity: 0.9;
  /* ANIMAÇÃO */
  animation: revealLine 1.2s ease-out forwards;
}

@keyframes revealLine {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    width: 120%;
    opacity: 0.9;
  }
}

@media (max-width: 1400px) {
  .linha-de-fundo{
    display: none;
  }
}

@media (max-width: 768px) {
  .titulo { 
    margin: 60px auto 20px;
    margin-top: 15vh;
  }
  .linha-de-fundo{
    display: none;
  }
}

@media (max-width: 480px) {
  .titulo { 
    margin: 10px auto 20px;
    margin-top: 15vh;
  }
    .linha-de-fundo{
    display: none;
  }
}
