/* -------- TIPOGRAFIA -------- */
h1 {
  text-align: center;
  font-size: clamp(2.5rem, 6vw, 8rem);
}

h2 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 6rem);
}


/* -------- TÍTULO -------- */
.titulo {
  margin: 120px auto 20px;
  padding: var(--space-sm);
  border-radius: var(--radius-lg);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  background-color: var(--color-bg);
}

@media (max-width: 768px) {
  .titulo {
    margin: 20vh auto 20px;
  }
}


/* -------- SEÇÃO -------- */
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 80px auto;
  padding: var(--space-md);
  gap: var(--space-md);
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  z-index: 1;
  position: relative;
  overflow: hidden; /* impede vazamento lateral */
}


/* ----- COLUNA DE TEXTO ----- */
.container > p {
  flex: 1 1 450px;
  max-width: 600px;
  text-align: justify;
  font-size: clamp(1.4rem, 2vw, 2rem);
  color: var(--color-bg);
}


/* ----- IMAGEM ----- */
#image-colaboradores {
  flex: 1 1 450px;
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: var(--radius-lg);
  object-fit: cover;
}

.linha-de-fundo {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  transform-origin: left;
  transform: rotate(5deg) scaleX(0);
  z-index: -1;
  animation: revealLine 1.2s ease-out forwards;
}

@keyframes revealLine {
  from {
    transform: rotate(5deg) scaleX(0);
    opacity: 0.5;
  }
  to {
    transform: rotate(5deg) scaleX(1);
    opacity: 1;
  }
}


/* --------- AJUSTES DE RESPONSIVIDADE --------- */

/* Tablets */
@media (max-width: 1024px) {
  .container {
    margin: 60px auto;
  }
}

/* Celulares */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .container > p {
    max-width: 100%;
    text-align: left;
  }

  #image-colaboradores {
    max-width: 100%;
  }
}

/* Telas muito pequenas */
@media (max-width: 480px) {
  .container {
    margin: 40px auto;
    padding: var(--space-sm);
  }

  .linha-de-fundo{
    transform: rotate(2deg) scaleX(0);
  }
}

/* Mobile e tablet */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* empilha */
  }

  .container img {
    order: 1; /* imagem sempre primeiro */
  }

  .container p {
    order: 2; /* texto sempre depois */
  }

    .linha-de-fundo{
    transform: rotate(0deg);
  }
}
